<app-header></app-header>

<router-outlet></router-outlet>

<p></p>
<div>
    <!-- translation: translation pipe -->
    <h1>{{ 'demo.title' | translate }}</h1>
    <!-- translation: directive (key as content of element) -->
    <p translate>demo.text</p>
</div>

<div> componente cargado desde la libreria precompilada consumiendo un servicio </div>

    <tm-poster [showId]="336"></tm-poster>
    <p></p>
    <p></p>
    <button mat-raised-button color="primary">angular material instalado</button>

<p></p>
    <div #putStuffHere></div>
